/* the styles for the elements */

html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 600px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

header {
	border-bottom: 3px solid #931420;
	padding: 1.5em 0 2em 0;
		background-image: linear-gradient(
			30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
/* the styles for the header */
}
header img {
	float: left;
	padding: 30px;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
header h2 {
	font-size: 170%;
	color: #800000;
}

header h2 em {
	text-shadow: 2px 2px black;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

/* the styles for the section */
main {
	clear: left;
	padding: 30px;
}


main h1{
	padding: .3em 0 .3em 0;
	font-size:150%;
	border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
}

main h2{
	font-size: 175%;
	color: #800000;
	padding: .5em 0 .25em 0;
}

main h3{
	font-size: 105;
	padding: 0 0 .25em 0;
}
main img {
	padding-bottom: 1em;
}
main p{
	padding-bottom: .5em;
}
main blockquote{
	padding: 0 2em 0 2em;
	font-style: italic;
}
main ul {
	padding: 0 0 .25em 1.25em;
}
main li{
		padding-bottom: .35em;
}

}
a {
	font-style: italic;
}

footer {
	background-color: #931420;
}
footer p{
	text-align: center;
	color: white;
	padding: .5em 0 .25em 0;
}

/* the styles for the footer */
