/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 600px;
	top margin: 0;
	bottom margin: 0;
	right margin: auto;
	left margin: auto;
	border: 3px;
	color: #931420;
	background color: #fffded;

}

/* the styles for the header */
header img {
	float: left;
}

header h2 {
	font-size: 170%;
	color: #800000;
	text-indent: 30px;
}

header h2 em {
	text-shadow: 2px 2px black;
}

header h3 {
	font-size: 130%;
	font-style: italic;
	text-indent: 30px;
}

/* the styles for the section */
main {
	clear: left;
}
main h1{
	font-size:150%;
}

main h2{
	font-size: 130%;
	color: #800000;
}

main h3{
	font-size: 105;
}

a {
	font-style: italic;
}

footer p{
	text-align: center;
}

/* the styles for the footer */
